.hero-card {
    width: 352px;
    height: 137px;
    flex-shrink: 0;
    background: rgba(246, 247, 249, 1);
    box-shadow: 4px 4px 4px 0px rgba(33, 33, 33, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 45px;
}

.info {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info > p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin: 0;
}

.stats {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stat-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.stats span {
    width: 30px;
    height: 30px;
    border-radius: 1.5em;
    border: solid 3px #000;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 0;
    box-sizing: unset;
}

.stats h3 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    margin: 0;
}

.types {
    display: flex;
    width: 100%;
}

.types div {
    width: 50%;
    height: 16px;
}

.types p {
    width: fit-content;
    height: 100%;
    padding: 0 0.3rem;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.18) inset;
}

.avatar {
    width: 232px;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
